@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --bg: #0b0b0b;
  --card: #121212;
  --gold: #d4af37;
  --gold-light: #f4c95d;
  --text: #ffffff;
  --muted: #9ca3af;
}

body {
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}